configurations/testxmlplugin/persoon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persoon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="voornaam" type="xs:string" />
                <xs:element name="achternaam" type="xs:string" />
                <xs:element name="adressen">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="adres" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="straat" type="xs:string" />
                                        <xs:element name="huisnummer" type="xs:string" />
                                        <xs:element name="postcode" type="xs:string" />
                                        <xs:element name="plaats" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="type" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>